@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<style>

    img {
        border-radius: 5px
    }

</style>

<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })




        <hr />
        <div class="container-fluid">
            <div class="row">
                <center>
                    <div class="col-sm-6">
                        <br />
                        <br />
                        <br />
                        <a href="https://www.facebook.com/BeulahMeadowsDesigns/">
                            <img src="~/Themes/DefaultClean/Content/images/FBboard.jpg" alt="Go to Beulah Meadows Designs!">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <br />
                        <h5>All paint and stain provided by</h5>
                        <img src="~/Themes/DefaultClean/Content/images/GeneralFinishes.jpg" alt="Go to Beulah Meadows Designs!">
                    </div>
                </center>
            </div>
        </div>
        <br />


        @Html.Widget("home_page_before_categories")
        @Html.Action("HomepageCategories", "Catalog")
        @Html.Widget("home_page_before_products")
        @Html.Action("HomepageProducts", "Product")
        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")
        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")
    </div>
</div>
